* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif; }

.mainIndex .main__section .main__h1, .mainInformacion .main__section .main__h1, .mainContacto .main__section .main__h1, .mainProductos .main__section .main__h1, .mainUbicacion .main__div--ubicacion .main__section .main__h1 {
  color: black;
  padding: 1.3em 0em;
  margin-bottom: 0em;
  font-size: 3rem; }

.header {
  background-color: #353535; }
  .header .header__div,
  .header .d-flex {
    justify-content: space-around;
    margin-right: 1rem;
    margin-left: 1rem; }
    .header .header__div .header__img,
    .header .d-flex .header__img {
      display: inline-block;
      width: 6rem;
      height: 6rem;
      margin: 1rem 0px;
      border-radius: 85%; }
    .header .header__div .header__container--nav,
    .header .d-flex .header__container--nav {
      padding-right: 0rem;
      padding-left: 0rem; }
      .header .header__div .header__container--nav .header__nav .header__container--div,
      .header .d-flex .header__container--nav .header__nav .header__container--div {
        justify-content: flex-end;
        margin-top: 2rem; }
        .header .header__div .header__container--nav .header__nav .header__container--div .navbar-brand,
        .header .header__div .header__container--nav .header__nav .header__container--div .nav-link,
        .header .d-flex .header__container--nav .header__nav .header__container--div .navbar-brand,
        .header .d-flex .header__container--nav .header__nav .header__container--div .nav-link {
          color: #d9d9d9;
          font-size: 1.3rem;
          padding-right: 0.5rem;
          padding-left: 0.5rem;
          margin-right: 0rem; }
          .header .header__div .header__container--nav .header__nav .header__container--div .navbar-brand:hover,
          .header .header__div .header__container--nav .header__nav .header__container--div .nav-link:hover,
          .header .d-flex .header__container--nav .header__nav .header__container--div .navbar-brand:hover,
          .header .d-flex .header__container--nav .header__nav .header__container--div .nav-link:hover {
            text-decoration: underline; }
        .header .header__div .header__container--nav .header__nav .header__container--div .navbar-toggler,
        .header .d-flex .header__container--nav .header__nav .header__container--div .navbar-toggler {
          background-color: #d9d9d9;
          color: rgba(217, 217, 217, 0.5); }
        .header .header__div .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav,
        .header .d-flex .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav {
          flex-direction: row; }
          .header .header__div .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .dropdown-menu,
          .header .d-flex .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .dropdown-menu {
            background-color: #353535; }
            .header .header__div .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .dropdown-menu .dropdown-item,
            .header .d-flex .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .dropdown-menu .dropdown-item {
              color: #d9d9d9;
              background-color: #353535; }
            .header .header__div .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .dropdown-menu:hover,
            .header .d-flex .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .dropdown-menu:hover {
              background-color: #353535; }

@media (max-width: 768px) {
  .header .header__div,
  .header .d-flex {
    margin-right: 1rem; }
    .header .header__div .header__container--img,
    .header .d-flex .header__container--img {
      padding-left: 0rem;
      padding-right: 0rem;
      margin-top: 1rem; }
      .header .header__div .header__container--img .header__img,
      .header .d-flex .header__container--img .header__img {
        width: 5rem;
        height: 5rem; }
    .header .header__div .header__container--nav,
    .header .d-flex .header__container--nav {
      margin-right: 1rem;
      padding-left: 0rem;
      padding-right: 0rem; }
      .header .header__div .header__container--nav .header__nav,
      .header .d-flex .header__container--nav .header__nav {
        margin-left: 0rem; }
        .header .header__div .header__container--nav .header__nav .header__container--div,
        .header .d-flex .header__container--nav .header__nav .header__container--div {
          justify-content: flex-end;
          padding-right: 0rem;
          padding-left: 0rem; }
          .header .header__div .header__container--nav .header__nav .header__container--div .navbar-brand,
          .header .d-flex .header__container--nav .header__nav .header__container--div .navbar-brand {
            padding-left: 0rem;
            margin-right: 0rem;
            padding-right: 0.2rem;
            font-size: 1.2rem; }
          .header .header__div .header__container--nav .header__nav .header__container--div .navbar__div,
          .header .d-flex .header__container--nav .header__nav .header__container--div .navbar__div {
            padding-left: 0rem; }
            .header .header__div .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav,
            .header .d-flex .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav {
              flex-direction: row;
              font-size: 1.1rem; }
              .header .header__div .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item,
              .header .d-flex .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item {
                padding-right: 0.5rem; }
                .header .header__div .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .nav-link,
                .header .d-flex .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .nav-link {
                  font-size: 1.1rem;
                  padding-right: 0rem;
                  padding-left: 0rem; }
                .header .header__div .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .dropdown-menu,
                .header .d-flex .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .dropdown-menu {
                  position: absolute; } }

@media (max-width: 576px) {
  .header .header__div,
  .header .d-flex {
    margin-left: 2rem;
    margin-right: 1rem; }
    .header .header__div .header__container--img,
    .header .d-flex .header__container--img {
      padding-right: 0.1rem; }
      .header .header__div .header__container--img .header__img,
      .header .d-flex .header__container--img .header__img {
        width: 5rem;
        height: 5rem;
        margin-top: 0.1rem; }
    .header .header__div .header__container--nav,
    .header .d-flex .header__container--nav {
      width: 25rem; }
      .header .header__div .header__container--nav .header__nav .header__container--div,
      .header .d-flex .header__container--nav .header__nav .header__container--div {
        padding-right: 0.5rem;
        padding-left: 0.1rem; }
        .header .header__div .header__container--nav .header__nav .header__container--div .navbar-brand,
        .header .d-flex .header__container--nav .header__nav .header__container--div .navbar-brand {
          font-size: 1rem; }
        .header .header__div .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav,
        .header .d-flex .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav {
          font-size: 1rem; }
          .header .header__div .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item,
          .header .d-flex .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item {
            padding-right: 0.5rem; }
            .header .header__div .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .nav-link,
            .header .d-flex .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .nav-link {
              font-size: 1rem; }
            .header .header__div .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .dropdown-menu,
            .header .d-flex .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .dropdown-menu {
              left: -1rem; }
              .header .header__div .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .dropdown-menu .dropdown-item,
              .header .d-flex .header__container--nav .header__nav .header__container--div .navbar__div .navbar-nav .nav-item .dropdown-menu .dropdown-item {
                font-size: 0.75rem; } }

.header .header__div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 0rem;
  padding-right: 0rem; }
  .header .header__div2 .header__imgen {
    height: 35em;
    width: 100%; }
  .header .header__div2 .header__h2 {
    height: 400px;
    width: 500px;
    font-size: 55px;
    position: absolute;
    left: 20px;
    background-color: rgba(217, 217, 217, 0.3);
    letter-spacing: 0px;
    word-spacing: 10px;
    line-height: 70px;
    font-weight: normal;
    padding: 100px 40px; }

.mainIndex {
  background-color: #d9d9d9; }
  .mainIndex .main__section1 .margin {
    margin-bottom: 5rem; }
  .mainIndex .main__section1 .main__section2 {
    align-items: flex-end; }
  .mainIndex .main__section1 .main__section3 {
    align-items: flex-start; }
  .mainIndex .main__section1 .main__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 200px; }
    .mainIndex .main__section1 .main__div .btn-group,
    .mainIndex .main__section1 .main__div .btn-group-vertical {
      position: absolute; }
      .mainIndex .main__section1 .main__div .btn-group .main__boton,
      .mainIndex .main__section1 .main__div .btn-group-vertical .main__boton {
        width: 10rem;
        height: 3.5rem; }

@media (max-width: 768px) {
  .header .header__div2 .header__imgen {
    height: 20em; }
  .header .header__div2 .header__h2 {
    height: 15rem;
    width: 25rem;
    font-size: 2.5rem;
    word-spacing: 0.5rem;
    line-height: 3rem;
    padding: 3rem 2rem; }
  .mainIndex .main__contenedor {
    padding-left: 0rem; }
    .mainIndex .main__contenedor .main__section .main__h1 {
      padding: 3rem 0rem;
      font-size: 2.5rem; }
    .mainIndex .main__contenedor .main__section1 {
      margin-left: 5rem;
      margin-right: 5rem; }
      .mainIndex .main__contenedor .main__section1 .main__columnas {
        width: 50%;
        padding-left: 0rem;
        padding-right: 0rem; }
        .mainIndex .main__contenedor .main__section1 .main__columnas .margin {
          margin-bottom: 0rem; }
        .mainIndex .main__contenedor .main__section1 .main__columnas .main__div {
          justify-content: center; }
          .mainIndex .main__contenedor .main__section1 .main__columnas .main__div .main__img {
            width: 10rem; }
          .mainIndex .main__contenedor .main__section1 .main__columnas .main__div .btn-group .main__boton,
          .mainIndex .main__contenedor .main__section1 .main__columnas .main__div .btn-group-vertical .main__boton {
            width: 8rem;
            height: 3rem;
            font-size: 0.8rem; } }

@media (max-width: 576px) {
  .header .header__div2 .header__imgen {
    height: 25em; }
  .header .header__div2 .header__h2 {
    height: 15rem;
    width: 25rem;
    font-size: 2.5rem;
    word-spacing: 0.5rem;
    line-height: 3.5rem;
    text-align: center;
    padding: 2rem; }
  .mainIndex .main__contenedor .main__section .main__h1 {
    padding: 2.5rem 0rem;
    font-size: 2rem; }
  .mainIndex .main__contenedor .main__section1 .margin {
    margin-bottom: 0rem; }
  .mainIndex .main__contenedor .main__section1 .main__columnas {
    width: 50%; } }

.mainInformacion {
  background-color: #d9d9d9; }
  .mainInformacion .main__section--info1 {
    margin-bottom: 3rem;
    text-align-last: center; }
  .mainInformacion .main__section--info2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem; }
    .mainInformacion .main__section--info2 .main__div--info {
      background-color: #fff;
      width: 50rem;
      height: 9rem;
      border-radius: 0.75rem;
      margin-bottom: 0.5rem; }
      .mainInformacion .main__section--info2 .main__div--info .main__p {
        font-size: 1rem;
        text-align: justify;
        padding: 1rem 1rem;
        text-align-last: center; }

@media (max-width: 768px) {
  .mainInformacion .main__section .main__h1 {
    padding: 3rem 0rem;
    font-size: 2.5rem; }
  .mainInformacion .main__section--info1 {
    margin-bottom: 2rem;
    width: 30rem; }
    .mainInformacion .main__section--info1 .main__h3 {
      font-size: 1.5rem; }
    .mainInformacion .main__section--info1 .main__h5 {
      font-size: 1.1rem;
      padding: 0rem 1.5rem; }
  .mainInformacion .main__section--info2 {
    max-width: 80%; }
    .mainInformacion .main__section--info2 .main__div--info {
      max-width: 100%;
      height: auto; }
      .mainInformacion .main__section--info2 .main__div--info .main__p {
        padding: 1rem 2rem; } }

@media (max-width: 576px) {
  .mainInformacion .main__section .main__h1 {
    padding: 2.5rem 0rem;
    font-size: 2rem; }
  .mainInformacion .main__section--info1 {
    width: 30rem; }
    .mainInformacion .main__section--info1 .main__h3 {
      font-size: 1.2rem; }
    .mainInformacion .main__section--info1 .main__h5 {
      font-size: 1rem; }
  .mainInformacion .main__section--info2 {
    max-width: 90%; }
    .mainInformacion .main__section--info2 .main__div--info .main__p {
      font-size: 0.9rem; } }

.mainContacto {
  background-color: #d9d9d9; }
  .mainContacto .main__section .main__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem; }
    .mainContacto .main__section .main__form .main__div--contacto {
      justify-content: space-between;
      width: 40rem; }
      .mainContacto .main__section .main__form .main__div--contacto .form-control:focus {
        color: #212529;
        background-color: #fff;
        border-color: #ced4da;
        box-shadow: 0 0 0 0.25rem #35353524; }
      .mainContacto .main__section .main__form .main__div--contacto .main__enviar {
        border-color: white;
        background-color: #fff;
        color: black;
        width: 40rem;
        margin-top: 0.1rem;
        border: 1px solid #ced4da; }

@media (max-width: 768px) {
  .mainContacto .main__section .main__h1 {
    padding: 3rem 0rem;
    font-size: 2.5rem; }
  .mainContacto .main__section .main__form .main__div--contacto {
    width: 35rem; }
    .mainContacto .main__section .main__form .main__div--contacto .main__enviar {
      width: 35rem; } }

@media (max-width: 576px) {
  .mainContacto .main__section .main__h1 {
    padding: 2.5rem 0rem;
    font-size: 2rem; }
  .mainContacto .main__section .main__form .main__div--contacto {
    width: 30rem; }
    .mainContacto .main__section .main__form .main__div--contacto .main__enviar {
      width: 30rem; } }

.mainProductos {
  background-color: #d9d9d9; }
  .mainProductos .main__section2 {
    padding-bottom: 2rem; }
    .mainProductos .main__section2 .accordion-item {
      border: 1px solid black;
      max-width: 70rem;
      margin: auto; }
      .mainProductos .main__section2 .accordion-item .accordion-button {
        background-color: rgba(217, 217, 217, 0.5);
        padding: 1rem 5rem; }
      .mainProductos .main__section2 .accordion-item .accordion-button:not(.collapsed) {
        background-color: rgba(217, 217, 217, 0.5);
        color: black; }
      .mainProductos .main__section2 .accordion-item .div__body {
        display: flex;
        justify-content: center;
        background-color: rgba(217, 217, 217, 0.5);
        padding: 1.5rem 0rem; }
        .mainProductos .main__section2 .accordion-item .div__body .div__cards {
          width: 12rem;
          margin-right: 1rem; }
          .mainProductos .main__section2 .accordion-item .div__body .div__cards .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #d9d9d9; }

@media (max-width: 768px) {
  .mainProductos .main__section .main__h1 {
    padding: 3rem 0rem;
    font-size: 2.5rem; }
  .mainProductos .main__section2 .accordion-item .div__body .div__cards {
    width: 10rem; }
    .mainProductos .main__section2 .accordion-item .div__body .div__cards .card-body {
      padding: 0.5rem 1rem;
      align-items: flex-start; }
      .mainProductos .main__section2 .accordion-item .div__body .div__cards .card-body .card-title {
        font-size: 0.9rem; }
      .mainProductos .main__section2 .accordion-item .div__body .div__cards .card-body .card-text {
        font-size: 0.7rem; } }

@media (max-width: 576px) {
  .mainProductos .main__section .main__h1 {
    padding: 2.5rem 0rem;
    font-size: 2rem; }
  .mainProductos .main__section2 .accordion-item .div__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; }
    .mainProductos .main__section2 .accordion-item .div__body .div__cards {
      width: 10rem; }
      .mainProductos .main__section2 .accordion-item .div__body .div__cards .card-body {
        padding: 0.5rem 1rem;
        align-items: flex-start; }
        .mainProductos .main__section2 .accordion-item .div__body .div__cards .card-body .card-title {
          font-size: 0.8rem; }
        .mainProductos .main__section2 .accordion-item .div__body .div__cards .card-body .card-text {
          font-size: 0.6rem; } }

.mainUbicacion {
  background-color: #d9d9d9; }
  .mainUbicacion .main__div--ubicacion {
    padding-left: 0rem;
    padding-right: 0rem; }
    .mainUbicacion .main__div--ubicacion .main__section--ubicacion {
      display: flex;
      flex-direction: column;
      align-items: stretch; }
      .mainUbicacion .main__div--ubicacion .main__section--ubicacion .main__inframe {
        height: 30rem; }

@media (max-width: 768px) {
  .mainUbicacion .main__div--ubicacion .main__section .main__h1 {
    padding: 3rem 0rem;
    font-size: 2.5rem; }
  .mainUbicacion .main__div--ubicacion .main__section--ubicacion .main__inframe {
    height: 20rem; } }

@media (max-width: 576px) {
  .mainUbicacion .main__div--ubicacion .main__section .main__h1 {
    padding: 2.5rem 0rem;
    font-size: 2rem; }
  .mainUbicacion .main__div--ubicacion .main__section--ubicacion .main__inframe {
    height: 18rem; } }

.footer {
  background-color: #353535; }
  .footer .footer__div {
    padding-top: 2rem;
    padding-bottom: 1.5rem; }
    .footer .footer__div .footer__ul {
      list-style-type: none;
      justify-content: center; }
      .footer .footer__div .footer__ul li {
        transition-duration: 0.7s;
        transition-property: all; }
        .footer .footer__div .footer__ul li .footer__icono {
          font-size: 3rem;
          text-decoration: none;
          color: #d9d9d9;
          padding-right: 1.2rem; }
        .footer .footer__div .footer__ul li:hover {
          transform: scale(1.2); }
    .footer .footer__div .footer__parrafo {
      font-size: 1em;
      color: #d9d9d9;
      text-align-last: center; }
