// VARIABLES
$colorBlanco: #d9d9d9;
$colorGris: #353535;

// EXTEND
%estilosTitulo{
    color: black;
    padding: 1.3em 0em;
    margin-bottom: 0em;
    font-size: 3rem;
}

// MIXIN
@mixin estilosIconos {
    font-size: 3rem;
    text-decoration: none;
    color: $colorBlanco;
    padding-right: 1.2rem;
}

@mixin estilosTitulosResponsive {
    padding: 3rem 0rem;
    font-size: 2.5rem;
}

@mixin estilosTitulosResponsive2 {
    padding: 2.5rem 0rem;
    font-size: 2rem;   
}


